<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" validate class="form-control" id="name" placeholder="Enter name"
                                       required
                                       [(ngModel)]="model.name" name="name"
                                       #name="ngModel">
                                <div [hidden]="name.valid || name.pristine"
                                     class="alert alert-danger">
                                    Name is required
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" validate class="form-control" id="phone" placeholder="Enter Phone"
                                       required
                                       [(ngModel)]="model.phone" name="phone"
                                       #phone="ngModel">
                                <div [hidden]="phone.valid || phone.pristine"
                                     class="alert alert-danger">
                                    Phone is required
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>

                                <input type="text" validate class="form-control" id="email" placeholder="Enter Email"
                                       required
                                       [(ngModel)]="model.email" name="email"
                                       #email="ngModel">
                                </div>
                                <div [hidden]="email.valid || email.pristine"
                                     class="alert alert-danger">
                                    Email is required
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="reason"> Subject</label>
                                <select class="form-control" id="reason"
                                        required
                                        [(ngModel)]="model.reason" name="reason"
                                        #reason="ngModel">
                                    <option disabled hidden [value]="selectUndefinedOptionValue">-- select --</option>
                                    <option *ngFor="let reason of subjectval" [value]="reason">{{reason}}</option>
                                </select>
                                <div [hidden]="reason.valid || reason.pristine" class="alert alert-danger">
                                    Subject is required
                                </div>
                            </div>

                        </div>


                      <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Message</label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                      placeholder="Message"
                                              [(ngModel)]="model.message" name="message"
                                              #message="ngModel"
                                    ></textarea>
                            </div>
                        </div>

                        <!--
                                               <div class="g-recaptcha" data-sitekey="6LchZTQUAAAAALwUOQa417KCBbg01sPVB_u97NFb"></div>

                                                -->

                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs"
                                    [disabled]="!contactForm.form.valid">
                                Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Our Address</legend>
                <address>
                    <strong>School Of Joy And Happiness</strong><br>
                    Khatoli Road, Itawa<br>
                    District: Kota, Rajasthan <br>
                    <abbr title="Phone">
                        P:</abbr>
                    +91-9636718918
                </address>
                <address>
                    <!--<strong>Full Name</strong><br>-->
                    <a href="mailto:#">contact@sjhitawa.com</a>
                </address>
            </form>
        </div>
    </div>
</div>
