<header >
    <div class="panel panel-default logo-area" style="display:none">
        <div class="panel-heading">Panel Heading</div>

    </div>

    <nav class="navbar navbar-inverse nav-color">
        <div class="container-fluid no-gap strech" >
            <div class="navbar-header ">
                <div class="logo-container">
                    <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
                    <a href="#" rel="home" class="header-text">School of Joy and Happiness</a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse" id="myNavbar" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a routerLink="/contactus">Contact</a></li>
                    <li><a >Page 2</a></li>
                    <li><a >Page 3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section _ngcontent-c0="" class="progress-bar">
        <mat-progress-bar _ngcontent-c0="" aria-valuemax="100" aria-valuemin="0" class="mat-progress-bar mat-primary" role="progressbar" ng-reflect-color="primary" aria-valuenow="0" ng-reflect-mode="none" mode="none"><div class="mat-progress-bar-background mat-progress-bar-element"></div><div class="mat-progress-bar-buffer mat-progress-bar-element"></div><div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element" ng-reflect-ng-style="[object Object]" style="transform: scaleX(0);"></div><div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div></mat-progress-bar>
    </section>
</header>