:host(app-nav) {
  padding-top: 0;
  padding-bottom: 5em;
  display: grid;

  header {
    position: fixed;
    z-index: 999;
    width: 100%;

    .container-fluid {
      @media (max-width: 680px) {
        .navbar-collapse {
          background-color: GRAY;
          width: 50%;
          float: right;
        }

        .navbar-header {

          .navbar-toggle {
            margin-right: 30px;
          }
        }
      }


      @media (min-width: 680px) {
        .navbar-header  {
          width: 30%;
        }


      }

    }
    .nav-color {
      background-color: GRAY;
    }
    nav {
      .no-gap {
        margin: 0px;
        padding: 0px;
      }

      .strech {
        width: 100%;
      }

      .navbar-brand {
        padding-top: 0px;
        width:50%;
        img {
          height: 50px;
        }

        @media (min-width: 680px) {
          width:100%;
        }
      }
      .navbar-nav{
        a {
          @media (min-width: 680px) {
            height: 60px;
            padding-top: 15px;
          }
        }
      }
    }
    .logo-area {
      margin:0px;
    }
    .nav-color {
      @media (max-width: 680px) {

        padding:0px;
        color: gray;
      }

    }

  }
}

@media (max-width: 680px) {
  :host(app-nav) {
    padding-top: 0;
    padding-bottom: 1em;

    header {
      position: relative;

      nav {
        height: 10px;
        display: flex;
        padding: 1em 2em 0;
      }
    }
  }
}

@media (max-width: 425px) {
  :host(app-nav) {
    padding-bottom: 0;

    header {
      nav {
        app-search-bar {
          width: 75%;
        }
      }
    }
  }
}
