<footer>
    <!--<span class="legal-disclaimer-container">The School of Joy and Happiness is committed to ensuring that its services are provided in a non-discriminatory manner without regard to race, color, religious creed, disability,
        handicap, ancestry, national origin, age, sex, or limited Language proficiency.</span>
    <div class="flex-spacer"></div>
    &lt;!&ndash;<a href="https://angular.io/" target="_blank"><img src="assets/images/angular.svg"></a>&ndash;&gt;-->

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4" id="brand-footer">
                <p><img _ngcontent-c0="" alt="Logo" src="assets/images/logo.png" style=" height: 50px; width: 78px;" alt=""></p>

                <p>Copyright © 2016</p>

                <div class="twitter"><a class="fa fa-twitter" href="#"></a><span>Follow on twitter</span></div>
                <div class="fb"><a class="fa fa-facebook" href="https://www.facebook.com/" target="_blank"></a><span>Like on facebook</span></div>
            </div>
            <div class="col-md-4 col-sm-4" id="contacts-footer">
                <h4>Contact Us</h4>
                <address>
                    <strong>School Of Joy And Happiness</strong><br>
                    Khatoli Road, Itawa<br>
                    District: Kota, Rajasthan <br>
                    <abbr title="Phone">
                        P:</abbr>
                    +91-9636718918
                </address>
                <hr>
                <h4>Newsletter</h4>

                <p>Subscribe Our Newsletter and get update on School Activities.</p>

                <div id="message-newsletter"></div>
                <form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
                    <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Your Email" class="form-control">
                    <button id="submit-newsletter" class="button_medium add-bottom-20" style="top:2px; position:relative"> Subscribe
                    </button>
                </form>
            </div>
            <div class="col-md-4 col-sm-4" id="quick-links">
                <h4>Quick links</h4>
                <ul>
                    <li><a href="school/contact-us" title="About Us">Contact Us</a></li>
                    <li><a href="school/notice_board" title="Bulletin Board">Notice Board</a></li>
                    <li><a href="blog" title="Kindergarten Blog">Kindergarten Blog</a></li>
                </ul>
                <hr>
                <ul>
                    <li><a href="blog" title="Lead On Blog">Lead On Blog</a></li>
                    <li><a href="blog" title="Library Blog">Library Blog</a></li>
                </ul>
            </div>

        </div>
    </div>

</footer>