<div class = "feature-card col-xs-12 col-sm-4" >
    <div class ="card-heading">
        <span> CareFor</span>
    </div>
    <div>
        <img src="assets/images/v.jpg" alt="New york" style="width:100%;">
    </div>
    <div>
    <span class="legal-disclaimer-container">The School of Joy and Happiness is committed to ensuring that its services are provided in a non-discriminatory manner without regard to race, color, religious creed, disability,
        handicap, ancestry, national origin, age, sex, or limited Language proficiency.</span>
    </div>

</div>
