<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>School Gallery</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a><span class="divider">/</span></li>
                <li class="active">Gallery</li>
            </ul>
        </div>

        <!-- =========================Start Col left section ============================= -->
        <aside class="col-md-4 col-sm-4">
            <div class="col-left">
                <h4>Photo  Gallery</h4>
                <p>Gallery of Annual Function,Library,Infrastructure,Events and Lab etc.</p>
            </div>
        </aside>

        <!-- =========================Start Col right section ============================= -->
        <section class="col-md-8 col-sm-8">
            <div class="col-right">

                <div class="row">


                    <!--<a data-fancybox="gallery" href="assets/images/heroes/1.jpg"><img src="assets/images/heroes/1.jpg"></a>
                    <a data-fancybox="gallery" href="assets/images/heroes/1.jpg"><img src="assets/images/heroes/1.jpg"></a>-->


                    <div class="col-md-4 picture" *ngFor="let imageObj of (galleryData ? galleryData : []);">
                        <a data-fancybox="gallery" href="{{imageObj.img}}" title="{{imageObj.title}}" class="fancybox" rel="gallery1">
                            <span class="photo_icon" style="opacity: 0; display: inline;"></span>
                            <img  src="{{imageObj.img}}" alt="" class="img-responsive">
                        </a>
                    </div>

                </div>


                <!-- End row -->
            </div>
        </section>
        <!-- end col right-->
    </div>
    <!-- end row-->
</div>