<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>School Gallery</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a><span class="divider">/</span></li>
                <li class="active">Gallery</li>
            </ul>
        </div>

        <!-- =========================Start Col left section ============================= -->
        <aside class="col-md-4 col-sm-4">
            <div class="col-left">
                <h4>Photo  Gallery</h4>
                <p>Gallery of Annual Function,Library,Infrastructure,Events and Lab etc.</p>
            </div>
        </aside>

        <!-- =========================Start Col right section ============================= -->
        <section class="col-md-8 col-sm-8">
            <div class="col-right">

                <div class="row">


                    <!--<a data-fancybox="gallery" href="assets/images/heroes/1.jpg"><img src="assets/images/heroes/1.jpg"></a>
                    <a data-fancybox="gallery" href="assets/images/heroes/1.jpg"><img src="assets/images/heroes/1.jpg"></a>-->


                    <div class="col-md-4 picture">
                        <a data-fancybox="gallery" href="assets/images/heroes/1.jpg" title="Glimpse of Picnic - Deva Farms " class="fancybox" rel="gallery1">
                            <span class="photo_icon" style="opacity: 0; display: inline;"></span>
                            <img  src="assets/images/heroes/1.jpg" alt="" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-md-4 picture">
                        <a  data-fancybox="gallery" href="assets/images/heroes/2.jpg" title="Children's Day" class="fancybox" rel="gallery1">
                            <span class="photo_icon" style="opacity: 0; display: inline;"></span>
                            <img src="assets/images/heroes/2.jpg" alt="" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-md-4 picture">
                        <a data-fancybox="gallery" href="assets/images/heroes/3.jpg" title="Library" class="fancybox" rel="gallery1">
                            <span class="photo_icon" style="opacity: 0; display: inline;"></span>
                            <img src="assets/images/heroes/3.jpg" alt="" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-md-4 picture">
                        <a data-fancybox="gallery" href="assets/images/heroes/4.jpg" title="Annual Function" class="fancybox" rel="gallery1">
                            <span class="photo_icon" style="opacity: 0; display: inline;"></span>
                            <img src="assets/images/heroes/4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-md-4 picture">
                        <a data-fancybox="gallery" href="assets/images/heroes/5.jpg" title="Annual Function" class="fancybox" rel="gallery1">
                            <span class="photo_icon" style="opacity: 0; display: inline;"></span>
                            <img src="assets/images/heroes/5.jpg" alt="" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-md-4 picture">
                        <a data-fancybox="gallery" href="assets/images/heroes/6.jpg" title="STAFF" class="fancybox" rel="gallery1">
                            <span class="photo_icon" style="opacity: 0; display: inline;"></span>
                            <img src="assets/images/heroes/6.jpg" alt="" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-md-4 picture">
                        <a data-fancybox="gallery" href="assets/images/heroes/7.jpg" title="Assembley" class="fancybox" rel="gallery1">
                            <span class="photo_icon" style="opacity: 0; display: inline;"></span>
                            <img src="assets/images/heroes/7.jpg" alt="" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-md-4 picture">
                        <a data-fancybox="gallery" href="assets/images/heroes/8.jpg" title="Building" class="fancybox" rel="gallery1">
                            <span class="photo_icon" style="opacity: 0; display: inline;"></span>
                            <img src="assets/images/heroes/8.jpg" alt="" class="img-responsive">
                        </a>
                    </div>


                </div>


                <!-- End row -->
            </div>
        </section>
        <!-- end col right-->
    </div>
    <!-- end row-->
</div>